<script src="JS/dashboard.js"></script>
<div class="col-md-12 col-sm-12" id="dash-body">
	<div class="navbar navbar-default dash-nav col-md-2 col-sm-2 zeropadding">
	
		<div class="navbar-header col-md-12 col-sm-12">
			<img class="img-rounded" width="40" height="40" src="images/db_logo.png">
	      	<div class="navbar-brand navbarbrand zeromargin"><a href="#">Secure And Safe</a></div>
	    </div>
		<ul class="nav navbar-nav col-md-12 col-sm-12 zeropadding zeromargin">
	      <li class="col-md-12 col-sm-12 col-xs-6  zeropadding active" ng-click="navoptions($event)" navtype="1"><a href="#"> Trade Overview</a></li>
	      <li class="col-md-12 col-sm-12 col-xs-6 zeropadding" ng-click="navoptions($event)" navtype="2"><a href="#"> Tables </a></li>
	      <li class="col-md-12 col-sm-12 col-xs-6 zeropadding" ng-click="navoptions($event)" navtype="3"><a href="#"> Statistics </a></li>
	    </ul>
	    
	</div>
	<div class="longnomargin col-md-10" ng-include src="View.subUrl">
	
	</div>
</div>