<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Tables</servlet-name>
		<display-name>Tables</display-name>
		<description></description>
		<servlet-class>BusinessTier.Tables</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>BusinessTier.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InstrumentTable</servlet-name>
		<display-name>InstrumentTable</display-name>
		<description></description>
		<servlet-class>BusinessTier.InstrumentTable</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CounterpartyTable</servlet-name>
		<display-name>CounterpartyTable</display-name>
		<description></description>
		<servlet-class>BusinessTier.CounterpartyTable</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DealTable</servlet-name>
		<display-name>DealTable</display-name>
		<description></description>
		<servlet-class>BusinessTier.DealTable</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Scylla</servlet-name>
		<display-name>Scylla</display-name>
		<description></description>
		<servlet-class>BusinessTier.Scylla</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EndingPositionTable</servlet-name>
		<display-name>EndingPositionTable</display-name>
		<description></description>
		<servlet-class>BusinessTier.EndingPositionTable</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AveragePrice</servlet-name>
		<display-name>AveragePrice</display-name>
		<description></description>
		<servlet-class>BusinessTier.AveragePrice</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EndingPositionGraph</servlet-name>
		<display-name>EndingPositionGraph</display-name>
		<description></description>
		<servlet-class>BusinessTier.EndingPositionGraph</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RealisedProfitLossTable</servlet-name>
		<display-name>RealisedProfitLossTable</display-name>
		<description></description>
		<servlet-class>BusinessTier.RealisedProfitLossTable</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tables</servlet-name>
		<url-pattern>/Tables</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InstrumentTable</servlet-name>
		<url-pattern>/Tables/Instruments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CounterpartyTable</servlet-name>
		<url-pattern>/Tables/Counterparty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DealTable</servlet-name>
		<url-pattern>/Tables/Deal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Scylla</servlet-name>
		<url-pattern>/Data/InstrumentPrice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EndingPositionTable</servlet-name>
		<url-pattern>/Tables/EndingPosition</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AveragePrice</servlet-name>
		<url-pattern>/Tables/AveragePrice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EndingPositionGraph</servlet-name>
		<url-pattern>/BarGraph</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RealisedProfitLossTable</servlet-name>
		<url-pattern>/Table/RealisedProfitLoss/</url-pattern>
	</servlet-mapping>
</web-app>